/* 1440 / 1280 / 1024 / 900 / 768 / 568 / 480 / 385 / 320 */
/* 720 / 670 / 576 */

@media (max-width: 1160px) {  // 1160 - 1024
  .route-map__descr-list {
    display: none;
  }
  .route-map__wrapper {
    flex-direction: column;
  }
  .route-map {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .route-map__descr {
    margin: 0 auto;
  }
  .route-map__descr-names {
    margin-bottom: 0;
  }
  .route-map__wrapper {
    margin-bottom: 40px;
  }
  .route-info__item-descr {
    padding: 15px 30px 30px 30px;
  }
  .route-info__item-extra {
    max-width: 210px;
  }
  .route-info__item-btn {
    padding: 7px;
    span {
      padding: 6px 18px;
    }
  }
  .route-download__input {
    padding: 10px 20px;
    margin-right: 20px;
  }
  .route-download__btn {
    span {
      padding: 6px 30px;
      width: 200px;
    }
  }
  .route-download__input {
    width: 50%;
  }
  .route-download form {
    justify-content: flex-end;
  }
}


@media (max-width: 1024px) {  // 1024 - 900
  .route-info__item-photos {
    margin-left: 1px;
  }
  .route-info__item-photos .w {
    width: 230px;
  }
  .route-info__item-photo,
  .route-info__item-photo img {
    width: 224px;
    height: 175px;
  }
  .route-info__item-descr {
    padding: 20px;
  }
  .route-info__item-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .route-info__item-text {
    margin-bottom: 30px;
  }
  .route-info__item-extra {
    max-width: initial;
    margin-bottom: 10px;
  }
  .route-info__title-item {
    width: 230px;
    padding: 0 15px;
  }
  .route-download {
    gap: 15px;
  }
}


@media (max-width: 900px) {  // 900 - 768
  .route {
    padding: 70px 0 80px;
    &::after {
      width: 157px;
      height: 300px;
    }
  }
  .route-info__item-inner {
    flex-wrap: wrap;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      border: 3px solid var(--white);
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb { background: hsl(229, 100%, 82%); }
    &::-webkit-scrollbar-thumb:hover { background: hsl(229, 100%, 77%); }
  }

  .route-info {
    margin-bottom: 30px;
  }
  .route-download {
    flex-direction: column;
  }
  .route-download__text {
    margin: 0 auto;
    text-align: center;
  }
  .route-download form {
    justify-content: center;
    margin: 0 auto;
  }
  .route-info__item-photos {
    width: 99%;
    margin: 0 20px 15px;
    .w {
      width: 100%;
    }
  }
  .route-info__item-photo,
  .route-info__item-photo img {
    width: 100%;
  }
  .route-info__item-photo {
    margin: 5px 0;
  }
}


@media (max-width: 768px) {  // 768 - 568
  .route-info {
    height: auto;
  }
  .route-info__wrapper {
    height: auto;
    flex-direction: column;
  }
  .route-info__title-list {
    height: 300px;
    flex-wrap: wrap;
    width: 100%;
    border-right: none;
  }
  .route-info__title-item {
    width: 50%;
  }
  .route-info__title-itemwrap.last {
    border-bottom: 1px solid var(--main-color);
  }
  .route-info__title-itemwrap::after {
    transform: translateY(-50%) rotate(45deg);
  }
}


@media (max-width: 600px) {  // 600 - 568
  .route {
    &::after {
      width: 115px;
      height: 220px;
      top: -80px;
    } 
  }
  .route-map {
    display: none;
  }
  .route-map__img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .route-map__descr-names {
    text-align: center;
  }
}


@media (max-width: 568px) {  // 568 - 480
  .route {
    padding: 50px 0 60px;
  }
  .route-download__input {
    margin-right: 10px;
  }
  .route-download__btn {
    padding: 7px;
  }
}


@media (max-width: 480px) {  // 480 - 385
  .route {
    &::after {
      width: 78px;
      height: 150px;
      top: -52px;
    }
  }
  .route-map__wrapper {
    margin-bottom: 30px;
  }
  .route-info__title-itemwrap::after,
  .route-info__title-name {
    display: none;
  }
  .route-info__title-itemwrap {
    padding: 14px 0;
    justify-content: center;
  }
  .route-info__title-list {
    height: 250px;
  }
  .route-info__title-item {
    padding: 0 5px;
  }
  .route-info__item-descr {
    padding: 20px 10px 5px 10px;
  }
  .route-info__item-photos {
    margin: 0 10px 10px 10px;
  }
  .route-info__item-photo, 
  .route-info__item-photo img {
    height: 150px;
  }
  .route-info__item-text p {
    margin-bottom: 15px;
  }
  .route-download__text {
    font-size: var(--fz-4);
  }
  .route-download form{
    flex-wrap: wrap;
  }
  .route-download__input {
    --fz-4: 18px;

    width: 255px;
    margin-right: 0;
    margin-bottom: 10px;
    &::placeholder {
      font-size: 16px;
    }
  }
}


@media (max-width: 385px) {  // 385 - 320
  .route-info__title-list {
    height: 210px;
  }
  .route-info__title-itemwrap {
    padding: 10px 0;
  }
  .route-map__descr-names {
    font-size: var(--fz-main-text);
  }
  .route-map__wrapper {
    margin-bottom: 20px;
  }
  .route-info {
    margin-bottom: 25px;
  }
  .route-download__btn {
    padding: 5px;
    span {
      font-size: 18px;
      padding: 5px 22px;
      width: 180px;
    }
  }
}


