.route {
  padding: 100px 0 130px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -130px;
    right: 0px;
    background: url(../img/route-section/bg.svg) center center/cover no-repeat;
    width: 208px;
    height: 400px;
  }
  &__subtitle{
    margin-bottom: 50px;
  }
  &-map{
    position: relative;
    width: 560px;
    height: 300px;
    background: url(../img/route-section/map.jpg) center center/cover no-repeat;
    &__wrapper{
      display: flex;
      justify-content: space-between;
      align-self: flex-start;
      margin-bottom: 55px;
    }
    &__img {
      display: none;
    }
    &__dot{
      position: absolute;
      font-family: var(--source-sans-pro-font);
      font-weight: 500;
      font-size: var(--fz-small-text);
      color: rgb(20,64,90);
      &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid rgb(20,64,90);
      }
    }
    &.scrolled {
      .dot-1 {
        animation: fadeIn 1s forwards 1s;
        &::after {
          animation: toLeft 1.5s forwards 2s ease;
        }
      }
      .dot-2 {
        animation: fadeIn 1s forwards 3.5s;
        &::after {
          animation: toLeft 2s forwards 4.5s ease;
        }
      }
      .dot-3 {
        animation: fadeIn 1s forwards 6.5s;
        &::after {
          animation: toRight 3s forwards 7.5s ease;
        }
      }
      .dot-4 {
        animation: fadeIn 1s forwards 9.5s;
        &::after {
          animation: toLeft 4s forwards 10.5s ease;
        }
      }
      .dot-5 {
        animation: fadeIn 1s forwards 14s;
        &::after {
          animation: toRight 2s forwards 15s ease;
        }
      }
    }
    .dot-1 {
      font-size: var(--fz-main-text);
      top: 110px;
      right: 173px;
      opacity: 0;
      &::before {
        top: 1px;
        left: -22px;
        width: 15px;
        height: 15px;
        border: 2px solid rgb(20,64,90);
      }
      &::after {
        content: '';
        top: 8px;
        right: 60px;
        position: absolute;
        width: 47px;
        height: 53px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        background: url(../img/route-section/arrows/dubai-abuthabi.png) center center/cover no-repeat;
      }
    }
    .dot-2 {
      top: 180px;
      left: 255px;
      opacity: 0;
      &::before {
        top: -11px;
        left: 22px;
      }
      &::after {
        content: '';
        top: -65px;
        right: 33px;
        position: absolute;
        width: 165px;
        height: 55px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        background: url(../img/route-section/arrows/abuthabi-doha.png) center center/cover no-repeat;
      }
    }
    .dot-3 {
      top: 90px;
      left: 97px;
      opacity: 0;
      &::before {
        top: 20px;
        left: 9px;
      }
      &::after {
        content: '';
        top: -50px;
        left: 21px;
        position: absolute;
        width: 402px;
        height: 180px;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        background: url(../img/route-section/arrows/doha-muscat.png) center center/cover no-repeat;
      }
    }
    .dot-4 {
      bottom: 51px;
      right: 20px;
      opacity: 0;
      &::before {
        top: -11px;
        left: 16px;
      }
      &::after {
        content: '';
        bottom: 31px;
        right: 13px;
        position: absolute;
        width: 467px;
        height: 184px;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        background: url(../img/route-section/arrows/muskat-khalifa.png) center center/cover no-repeat;
      }
    }
    .dot-5 {
      top: 66px;
      left: 10px;
      opacity: 0;
      &::before {
        top: -10px;
        left: 45px;
      }
      &::after {
        content: '';
        top: -24px;
        left: 53px;
        position: absolute;
        width: 264px;
        height: 80px;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        background: url(../img/route-section/arrows/khalifa-dubai.png) center center/cover no-repeat;
      }
    }

    &__descr{
      max-width: 600px;
      &-names{
        font-family: var(--playfair-display-font);
        font-weight: var(--font-bold);
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: var(--dark-color);
        margin-bottom: 35px;
      }
      &-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 80px;
        grid-row-gap: 40px;
        .item-1 { 
          grid-area: 1 / 1 / 2 / 2; 
          &::after {
            content: '';
            position: absolute;
            width: 161px;
            height: 43px;
            top: 7px;
            right: -184px;
            background: url(../img/route-section/lines/line-1.svg) center center/cover no-repeat;
          }
        }
        .item-2 { 
          grid-area: 2 / 1 / 3 / 2; 
        }
        .item-3 { 
          grid-area: 2 / 2 / 3 / 3; 
          &::before{
            transform: rotate(-90deg);
            top: -23px;
            right: 9px;
          }
          &::after {
            content: '';
            position: absolute;
            width: 257px;
            height: 150px;
            bottom: 49px;
            right: 31px;
            background: url(../img/route-section/lines/line-2.svg) center center/cover no-repeat;
          }
        }
      }
      &-item{
        width: 230px;
        height: 100px;
        background: var(--main-color);
        font-weight: var(--font-regular);
        font-size: var(--fz-main-text);
        line-height: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 16px;
        position: relative;
        &::before {
          content: '';
          position: absolute;    
          top: 50%;
          transform: translateY(-50%);
          right: -23px;
          width: 46px;
          height: 46px;
          background: url(../img/route-section/circle.png) center center/cover no-repeat;
        }
      }
    }
  }

  &-info {
    border: 1px solid var(--main-color);
    height: 600px;
    margin-bottom: 50px;
    &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
    }
    &__content {
      &-wrapper {
        height: 100%;
        position: relative;
      }
      &-item{
        height: 100%;
        display: none;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: all .5s;
        &.active {
          display: block;
          animation: toRight 1s forwards 0.1s ease;
        }
      }
    }
    &__item{
      &-inner{
        display: flex;
        height: 100%;
      }
      &-descr{
        padding: 15px 40px 30px 50px;
        color: var(--dark-color);
        font-weight: var(--font-regular);
        overflow-y: auto;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background: transparent;
            border: 3px solid var(--white);
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb { background: hsl(229, 100%, 82%); }
          &::-webkit-scrollbar-thumb:hover { background: hsl(229, 100%, 77%); }
      }
      &-title{
        font-weight: var(--font-regular);
        font-size: var(--fz-3);
        line-height: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      &-date {
        margin-bottom: 5px;
      }
      &-departure{
        margin-bottom: 20px;
      }
      &-text{
        margin-bottom: 60px;
        p {
          margin-bottom: 25px;
        }
      }
      &-details{
        display: flex;
        justify-content: space-between;
      }
      &-extra{
        max-width: 290px;
      }
      &-photos {
        margin-left: 2px;
        margin-right: -6px;
        .w {
          overflow-y: auto;
          width: 266px;
          height: 101%;
          scrollbar-width: thin;
          &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
          }
          &::-webkit-scrollbar-thumb {
            background: transparent;
            border: 1px solid #fff;
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb { background: hsl(229, 100%, 82%); }
          &::-webkit-scrollbar-thumb:hover { background: hsl(229, 100%, 77%); }
        }
      }
      &-photo{
        width: 260px;
        height: 199px;
        cursor: pointer;
        img {
          width: 260px;
          height: 199px;
          object-fit: cover;
        }
      }
    }
    &__title {
      &-list{
        height: 100%;
        width: 250px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-right: 1px solid var(--main-color);
      }
      &-item{
        width: 250px;  
        padding: 0 20px;
        transition: all .3s;
        cursor: pointer;
        &.active{          
          background: var(--main-color);
          cursor: initial;
          .route-info__title-itemwrap {
            color: var(--light-color);
            &::after {
              background: url(../img/route-section/arrow-white.svg) center center/cover no-repeat;
              right: -8px;
            }
          }
        }
      }
      &-itemwrap{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        padding: 19px 0;
        border-bottom: 1px solid var(--main-color);
        color: var(--dark-color);
        &.last {
          border-bottom: none;
        }
        &::after{
          content: '';
          width: 29px;
          height: 9px;
          background: url(../img/route-section/arrow-blue.svg) center center/cover no-repeat;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          transition: all .3s;
        }
        &:hover {
          &::after {
            right: -8px;
          }
        }
        
      }
      &-day{
        font-weight: var(--font-bold);
        font-size: var(--fz-main-text);
        padding-right: 15px;
      }
      &-name {
        max-width: 120px;
        font-weight: var(--font-regular);
        font-size: var(--fz-small-text);
      }
    }
  }

  &-download {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__text {
      max-width: 480px;
      font-size: var(--fz-3);
      line-height: 30px;
      span {
        margin-top: 5px;
        display: block;
        font-size: var(--fz-main-text);
        line-height: 20px;
      }
    }
    form {
      display: flex;
    }
    &__input{
      width: 100%;
      padding: 15px 35px;
      font-weight: var(--font-bold);
      font-size: var(--fz-4);
      line-height: 25px;
      border: 1px solid var(--main-color);
      margin-right: 40px;
      &::placeholder {
        opacity: 0.6;
        font-size: 17px;
      }
      &:focus {
        outline: 1px solid var(--main-color);
      }
    }
    &__btn{
      font-weight: var(--font-bold);
      font-size: var(--fz-subtitle-btn);
      &:disabled {
        opacity: 0.6;
        &:hover {
          span {
            border-image-source: linear-gradient(to right, var(--main-color), var(--main-color));
          }
        }
      }
      span {
        padding: 9px 57px;
        width: 243px;
      }
    }

  }
  
}






