.benefits {
  position: relative;
  padding: 70px 0;
  &::before {
    content: '';
    position: absolute;
    bottom: -75px;
    left: 1px;
    width: 205px;
    height: 342px;
    background: url(../img/benefits-section/bg-1.svg) center center/cover no-repeat;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 239px;
    height: 322px;
    background: url(../img/benefits-section/bg-2.svg) center center/cover no-repeat;
    z-index: -1;
  }
  &-wrapper{
    margin-top: 70px;
  }
  &-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    &__item{
      position: relative;
      max-width: 260px;
      min-height: 200px;
      background-color: var(--main-color);
      padding: 40px 20px 30px;
      color: var(--light-color);
      font-size: var(--fz-main-text);
      &:last-child {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        .benefits-list__item-wrapper::after {
          display: none;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 50px;
        right: -20px;
        width: 1px;
        height: 100px;
        background-color: var(--main-color);
      }
      &::after {
        content: '';
        position: absolute;
        top: 92px;
        right: -28px;
        width: 16px;
        height: 16px;
        border: 1px solid var(--main-color);
        background-color: #fff;
        border-radius: 50%;
      }
      &-wrapper {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: -63px;
          left: 0;
          width: 46px;
          height: 46px;
          transform: rotate(-90deg);
          background: url(../img/benefits-section/circle.png) center center/cover no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          top: 43px;
          right: -40px;
          width: 1px;
          height: 36px;
          background-color: #fff;
        }
      }
      &-title {
        margin-bottom: 10px;
        font-weight: var(--font-regular);
        text-transform: uppercase;
      }
    }
  }
}