/* 1440 / 1280 / 1024 / 900 / 768 / 568 / 480 / 385 / 320 */
/* 720 / 670 / 576 */


@media (max-width: 1280px) {  // 1280 - 1024
  .header-about {
    .item-1::after {
      width: 151px; 
      height: 157px;
    }
    .item-2::after {
      width: 151px; 
      height: 52px;
    }
    .item-3::after {
      width: 151px; 
      height: 78px;
    }
  }
  .header-main {
    margin-left: 50px;
  }
  .header-nav__wrapper {
    margin-left: -275px;
  }
  .header-nav__message {
    margin-left: -40px;
  }
  .header-main__date {
    margin-bottom: 175px;
  }
  .header-about {
    margin-top: 35px;
  }
}


@media (max-width: 1024px) {  // 1024 - 900
  .header-about {
    .item-1::after,
    .item-2::after,
    .item-3::after {
      width: 95px; 
    }
  }
  .header-main  {
    margin-left: 50px;
  }
  .header-nav__wrapper  {
    margin-left: -190px;
  }
  .header-social__item {
    margin-bottom: 15px;
  }
}


@media (max-width: 900px) {  // 900 - 768
  .header {
    background-position: bottom left 42%;
  }
  .header-nav__message {
    opacity: 0;
    visibility: hidden;
  }
  .header-social {
    flex-direction: row;
  }
  .header-social__item {
    margin-left: 15px;
  }
  .header-main__title {
    --fz-main-title: 36px;

    line-height: 48px;
  }
  .header-main__date {
    margin-bottom: 130px;
  }
  .header-nav__wrapper {
    margin-left: -75px;
  }
  .header-main {
    margin-left: 40px;
  }
  .header-about {
    .item-1::after,
    .item-2::after,
    .item-3::after {
      display: none;
    }
  }
  .header-about {
    margin-top: 0;
  }
}


@media (max-width: 768px) {  // 768 - 568
  .header {
    position: relative;
    background-position: bottom left 20%;
  }
  .header-wrapper {
    flex-direction: column;
    justify-content: start;
  }
  .header-about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    order: 2;
  }
  .header-main {
    order: 1;
  }
  .header-nav__message {
    display: none;
  }
  .header-main {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .header-main__date {
    margin-bottom: 75px;
  }
  .header-main__title,
  .header-main__subtitle,
  .header-main__btn,
  .header-main__price {
    margin: 0 auto;
  }
  .header-main__title {
    margin-bottom: 25px;
  }
  .header-main__subtitle {
    margin-bottom: 20px;
  }
  .header-main__btn {
    margin-bottom: 25px;
  }
  .header-about__item {
    margin-bottom: 0;
  }
  .header-about__item {
    padding: 15px;
    text-align: center;
  }
  .header-social__item {
    margin-left: 0;
    margin-right: 15px;
  }

  .header .menu-btn {
    display: flex;
  }
  .header-nav__wrapper {
    position: absolute;
    top: 0;
    left: -101%;
    margin-left: 0;
    transition: all .6s;
  }
  .header-social {
    position: absolute;
    top: 0;
    left: -101%;
    transition: all .6s;
  }
  .header-nav__wrapper.active,
  .header-social.active {
    left: 0;
  }
  .header-social.active {
    top: 50px;
    left: 20px;
  }
  .header-nav__wrapper.active {
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .87);
    justify-content: center;
    align-items: center;
    .header-nav__list-link {
      font-size: var(--fz-1);
      line-height: 1;
      padding: 30px 0 6px 35px;
      &::before {
        width: 15px;
        height: 15px;
        transform: translate(0);
        top: 56%;
      }
    }
    .close-menu__btn {
      display: flex;
    }
  }
}


@media (max-width: 568px) {  // 568 - 480
  .header {
    padding: 40px 0;
  }
  .header .menu-btn {
    top: 45px;
  }
  .header .close-menu__btn {
    top: 38px;
  }
  .header-main__date {
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {  // 480 - 385
  .header-about {
    flex-wrap: wrap;
  }
  .header-about__item {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    span {
      max-width: initial;
      padding: 7px;
    }
  }
  .header-main__title {
    --fz-main-title: 33px;
  } 
  .header-main__date {
    text-align: left;
  }
  .header-main {
    margin-bottom: 35px;
  }
}

@media (max-width: 385px) {  // 385 - 320
  .header {
    padding: 30px 0;
    background-position: bottom left 24%;
  }
  .header-main__date {
    margin-bottom: 50px;
    font-size: var(--fz-4);
  }
  .header .menu-btn {
    top: 36px;
    right: 15px;
  }
  .header .close-menu__btn {
    top: 30px;
    right: -4px;
  }
  .header-social.active {
    top: 35px;
  }
  .header-nav__wrapper.active .header-nav__list-link {
    font-size: var(--fz-2);
    padding: 20px 0 20px 30px;
    &::before {
      top: 39%;
    }
  }
  .header-main__title {
    --fz-main-title: 26px;
    line-height: 34px;
  }
  .header-main__subtitle {
    font-size: var(--fz-4);
  }
  .header-main__btn {
    font-size: var(--fz-4);
    width: 200px;
    span {
      padding: 6px 33px;
    }
  }
  .header-main__price {
    font-size: var(--fz-4);
    line-height: 25px;
    max-width: 150px;
  }
  
  .header-main {
    margin-bottom: 30px;
  }
  
}

@media (max-height: 720px) {  // 720 - 670
  .header-main__date {
    margin-bottom: 80px;
  }
}

@media (max-height: 720px) and (max-width: 768px) {  // 720 - 670
  .header-main__date {
    margin-bottom: 40px;
  }
  .header-main {
    margin-bottom: 20px;
  }
}

@media (max-height: 720px) and (max-width: 480px) {  // 720 - 670
  .header-main__date {
    margin-bottom: 35px;
  }
  .header-main__btn {
    margin-bottom: 10px;
  }
}


@media (max-height: 670px) and (max-width: 768px) {  // 670 - 620
  .header {
    padding: 30px 0;
  }
  .header .menu-btn {
    top: 35px;
  }
  .header .close-menu__btn {
    top: 30px;
  }
  .header-social.active {
    top: 35px;
  }
  .header-main__btn {
    margin-bottom: 10px;
  }
  .header-about__item {
    padding: 10px;
  }
}

@media (max-height: 670px) and (max-width: 480px) { // 670 - 620
  .header-main__date {
    margin-bottom: 25px;
  }
  .header-main__price {
    max-width: initial;
  }
  .header-main__title,
  .header-main__subtitle {
    margin-bottom: 15px;
  }
  .header-main__btn {
    font-size: var(--fz-4);
    width: 200px;
    span {
      padding: 6px 33px;
    }
  }
  .header-about__item {
    padding: 8px;
  }
}


@media (max-height: 620px) and (max-width: 1100px) {  // 620 - 600
  .header-main__price {
    max-width: initial;
  }
}